<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068557276047-d6m61taf2us9msll9b445t23ils8tsjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068557276047-d6m61taf2us9msll9b445t23ils8tsjd</string>
	<key>API_KEY</key>
	<string>AIzaSyD1kCoiblNNbGjzwmArEx46pSAbSYWSKRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1068557276047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.SGMobileiOS</string>
	<key>PROJECT_ID</key>
	<string>sg-mobile-ios-f00b3</string>
	<key>STORAGE_BUCKET</key>
	<string>sg-mobile-ios-f00b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068557276047:ios:5cf85429524c3bcca9b1fa</string>
</dict>
</plist>